p,h1,html,body,a,div,figure,img

   body
   {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
/*background-image: url(Images/g34.jpg);*/
   }

   p
  {
	 /* background-color: black; */
	  display: inline;
	  padding: 0;

  }
/* icons orange from black*/
  p i:hover { color: DarkViolet;
  }

  /* e kemi ndryshu kornizen e inputit search*/
input  {
              border-radius: 10px;
                background: #353535;
                padding: 10px;
                width: 200px;
                height: 10px;
                text-decoration: none;
                color: white;
                float: right;
}

  p label  {float: right; }


  nav ul p
  {

	  font-size: 2em;
	  font-style: italic;
	  background-size: 100px 100px 100px 100px;
  }
    ul li
  {   float: right;
	  list-style: none;
	  display: inline;
	  margin-left: 20px;
 }

/* menyte(homepage...) me elementin hover,border per vijen*/
  ul li :hover{color: DarkViolet;
  border-bottom: 1px solid #000;
    padding-bottom: 8px;
    border-color: DarkViolet;
  }

/* heqja e underline te linkut*/
 li a {text-decoration:none;}
/* icons pinterest,google... to gray*/
p a i {color: gray;}


figcaption h4 { float: left;}

  nav ul p1
  {
	  font-size: 1em;

  }

/*vendosja e titullit ne mes dhe ndryshimi i fontit */
   h1
  {
	 text-align: center;
     padding: 10px;
     font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
     font-size: 60px;
     color: DarkViolet;
     font-variant: small-caps;
     text-transform: capitalize;
  }
/* menyte homepage.... black*/
li a {color: black;}

  div
  { float: center;
	 text-align: center;
     padding: 0px;
  }
/* welcome title (Astronomy facts)*/
  section h3
  {
	  text-align: center;
      padding: 10px;
  }

  /* borders te view full gallery*/
#b a{
  border-radius: 10px;
  background: DarkViolet;
  padding: 10px;
  width: 300px;
  height: 10px;
  text-decoration: none;
  color: white;
}

/* vija pas view full gallery*/
   #v1
  {
	  position: relative;
	  top: 10px;
	  border: none;
	  height: 0.5px;
	  background: gray;
	  margin-bottom: 30px;
  }
  /* vendosja e kornizave te fotove */
 figure  img   {
               float: left;
               width: 85px;
               height: 85px;
               text-align: right;
               font-style: italic;
               font-size: smaller;
               text-indent: 0;
               border: thin silver solid;
               margin: 0px;
               padding: 0.5em;

}
figure h4 {text-align: left;
         text-indent: 0;
         }


/* vija pas fotove pink*/
hr#v2 {
          position: relative;
    	  border: none;
    	  height: 8px;
    	  margin-bottom: 50px;
    	  background: DarkViolet;
    	  margin-top: 30px;
    	  margin-bottom: 0px;

}

/* dizajnimi i tabeles*/
table {
       width: 100%;
       text-align: left;
}
th {
  height: 50px;
}

/* ne fund te tabeles butoni sumbit*/
td #submit {
  border-radius: 10px;
  background: DarkViolet;
  padding: 15px;
  width: 80px;
  height: 10px;
  text-decoration: none;
  color: white;
  text-align: center;

}

td a {text-decoration: none;}

table figure img {
           width: 100px;
           height: 100px;}

.fa-clickable {
    cursor:pointer;
    outline:none;

}

p a i {color: gray;}
/* heqja e nenvizimit te linkut tek temat(list of  meteors...)*/
 a {text-decoration: none;
    color: black;
    }
    a:hover {color: DarkViolet;}

/* fotot e animacionit*/

{border-sizing: 60px;
 border-box: 200px;
 border-radius: 20px;}

.mySlides  {display: none;}
.mySlides img {vertical-align: middle;
     height: 350px;
     width: 960px;
     }

/* Slideshow container */

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
box-width: 60px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*zgjedhja e fontit per Galaxy*/
ul #g
{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 55px;
color: #000000;
font-variant: small-caps;
text-transform: capitalize;
}

th a{ color: DarkViolet;}


/* ngjyrosja e background-it ne te zeze ne tabelen e fundit dhe footer-it*/
#n {background-color: black;
color: white;}
footer {background-color: black;
color: white}
#a1 {color: DarkViolet;}


/* dizajnimi i teresishem i faqes*/
#black {background-color: black;
padding: 2px;
}
#brenda { border-radius: 15px;
background-color: white;
}

body { background-image: url(Images/g34.jpg);}

#search {
 border-radius: 10px;
  background: DarkViolet;
  padding: 10px;
  width: 70px;
  height: 35px;
  text-decoration: none;
  color: white;
  float: right;
}

#ss {
   border-radius: 10px;
  background: DarkViolet;
  padding: 10px;
  width: 70px;
  height: 35px;
  text-decoration: none;
  color: white;
  float: left;

}
#p2 { float: left; }