p,html,body,a

body{

	font-family: "Georgia";
    font-size: 12px;
}
a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.fancy{  border-top: 5px solid #3bafbe;}

i{
	height: 25px;
	width: 20px;
	color: white;
} 
   p{
	  display: inline;
  }
  /* icons orange from black
   i:hover { color: orange;
  }
 */
 form{margin-top: 25px;}
.circle1{
     background: #1f1f1f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
	margin-left: 20px;
	margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}
.circle1:hover{ background: orange;}
  
.circle2{
  background: #1f1f1f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
	margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}
.circle2:hover{ background: orange;}

.circle3{
 background: #1f1f1f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
	margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}
.circle3:hover{ background: orange;}

.circle4{
 background: #1f1f1f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
	margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}
.circle4:hover{ background: orange;}

.circle5{
	 background: #1f1f1f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
	margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}
.circle5:hover{ background: orange;}

::placeholder {
        
        color: white;
    }
#search {
 border-radius: 10px;
  background: #3bafbe;
  padding: 10px;
  width: 70px;
  height: 35px;
  text-decoration: none;
  font-family: Georgia;
  font-size: 12px;
  color: white;
  float: right;
  margin-left: 3px;
  border: 0;
}


  input  {		
			border-radius: 10px;
            background: #333333;
            padding: 10px;
            width: 200px;
            height: 12px;
            text-decoration: none;
			font-family: Georgia;
			font-size: 12px;
            color: white;
            float: right;
			 
}

p label  {float: right; 
}

  nav ul p{
	  font-size: 32px;
	  font-style: bold;
	  color: #4a4a4a;
	/*	pike fillestare margin-left: -40px; */
	  margin-left: -25px;
	  background-size: 100px 100px 100px 100px;
  }
   #welcome{
	 color:#999999;
	 margin-left:-25px;
	 font-family:"Georgia"
	 font-size:12px;
	 }
	 #firstline{background-color: #e2e2e2; height: 1px; border: 0;margin-top: 25px;}

    ul li
  {   float: right;
	  list-style: none;
	  display: inline;
	  margin-left: 25px;
 }

/* menyte(homepage...) me elementin hover,border per vijen*/
  ul li :hover{color: #3bafbe;}

/* heqja e underline te linkut*/
 li a {text-decoration:none;}
/* icons pinterest,google... to gray*/
p a i {color: white;
       }

figcaption h4 { float: left;}

  nav ul p1
  {
	  font-size: 1em;

  }

/* menyte homepage.... black*/
li a {color: #999999;
	  font-family: "Georgia";
	  font-size: 12px;

}

  div{ 
     float: center;
	 text-align: right;
     padding: 0px;
  }
  section h3{
	  text-align: left;
      padding: 20px;
  }
  /* fotot e animacionit*/


.mySlides{display: none;}
.mySlides img {
	 vertical-align: -50px;
     height: 360px;
     width: 500px;
     }

/* Slideshow container */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3bafbe;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
     	   background-color: white;
}

/*vendosja e titullit ne mes dhe ndryshimi i fontit */
   #titulli{
	   
	 text-align: center;
     padding: 10px;
     font-family: "Georgia";
     font-size: 42px;
     color: #4a4a4a;
     font-variant: small-caps;
     text-transform: capitalize;
	   margin-left:10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  }
  div
  { float: center;
	 text-align: center;
     padding: 0px;
  }
/* vija pas view full gallery*/
   #v1
  {
	  position: relative;
	  top: 10px;
	  border: none;
	  height: 0.5px;
	  background: gray;
	  margin-bottom: 30px;
  }
  /* vendosja e kornizave te fotove */
 figure  img   {
               float: left;
               width: 100px;
               height: 100px;
               text-align: right;
               font-style: italic;
               font-size: smaller;
               text-indent: 0;
               border: thin silver solid;
               margin-top: -20px;
			   margin-left: -20px;
               padding: 0.5em;

}
figure h4 {text-align: left;
         text-indent: 0;
         }


/* vija pas fotove pink
hr#v2 {
          position: relative;
    	  border: none;
    	  height: 8px;
    	  margin-bottom: 50px;
    	  background: DarkViolet;
    	  margin-top: 30px;
    	  margin-bottom: 0px;

}
*/

/* welcome title (Astronomy facts)*/
  section h3
  {
	  text-align: center;
      padding: 10px;
	  background: red;
  }

  /* borders te view full gallery*/
#b a{
  border-radius: 10px;
  background: #3bafbe;
  padding: 10px;
  width: 300px;
  height: 10px;
  text-decoration: none;
  color: white;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* vija pas view full gallery*/
   #v1
  {
	  position: relative;
	  top: 10px;
	  border: none;
	  height: 0.5px;
	  background: #e2e2e2;
	  margin-bottom: 30px;
  }
  
table figure img {
           width: 300px;
           height: 160px;
		   margin-right:-10px;
		   
}
  /* vendosja e kornizave te fotove */
  
 figure  img   {
	 
               text-align: left;
               font-style: italic;
               text-indent: 0;
               border: thin silver solid;
			   margin:left;
               padding: 0.1em;

}
figure h4 {text-align: left;
         text-indent: 0;
         }



/* dizajnimi i tabeles*/
table {
       width: 100%;
       text-align: left;
}
th {
  height: 100px;
  width: 1000px;

    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
/* vija e trete*/
   #v3
  {
	  position: relative;
	  top: 10px;
	  border: none;
	  height: 0.5px;
	  background: #e2e2e2;
	  margin-bottom: 30px;
  }
/* pjesa e dyte e katroreve */
#alpha figure img {
           width: 80px;
           height: 80px;
		   margin-left:0px;
		   margin-right: -100px;
		   
}
  /* vendosja e kornizave te fotove */
  
 figure  img   {
	 
               text-align: left;
               font-style: italic;
               text-indent: 0;
               border: thin silver solid;
			   margin:left;
               padding: 0.1em;

}
figure h4 {text-align: right;
         text-indent: 0;
         }




/*
#tabela1{
	
	  height: 300px;
  width: 1000px;
  margin-left: -100 px;
  margin-right: 100px;
  padding: 10px;
  
}
*/
/* ne fund te tabeles butoni sumbit*/
td #submit {
  border-radius: 10px;
  background: #1a1a1a;
  padding: 15px;
  width: 80px;
  height: 20px;
  text-decoration: none;
  color: white;
  text-align: center;

}

td a {text-decoration: none;}



.fa-clickable {
    cursor:pointer;
    outline:none;

}
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}
/*zgjedhja e fontit pjesen e fundit*/
ul #g
{font-family: "Georgia";
font-size: 20px;
color: #5c5c5c;
margin-left:-20px;

font-variant: small-caps;
text-transform: capitalize;
}

th a{ 
	font-family: "Georgia";
color: #1a1a1a;}
/* ngjyrosja e background-it ne te zeze ne tabelen e fundit dhe footer-it*/
#n {
	font-family: "Georgia";
font-size: 12px;
	background-color: #5c5c5c;
color: white;
}

#a1 {color: #3bafbe;}

#ss {
   border-radius: 10px;
  background: #3bafbe;
  padding: 10px;
  width: 70px;
  height: 35px;
  text-decoration: none;
  color: white;
  float: left;
}
#p2 { float: left; }

footer {
	background-color: #1a1a1a;
    color: #1a1a1a
	position: left;
	}